.page-header
    h1 User Account 
        small yon vittles be waiting
.row
    .span10
        !=partial('messages')

        - if (everyauth.loggedIn)

            h1 Your sightings

            ul
              - sightings.forEach(function(sighting){
                li
                    a(href="/sightings/#{sighting._id}") #{sighting.latitude} #{sighting.longitude} - #{sighting.comment}
              - })

            a(href="/sightings/add")
                button(class="btn primary", type="submit", value="Update") Add New Sighting

            //- 
            //- Bills section disabled. Not very useful, sightings is all user cares about
            //- 
            //- h1 Your related bills

            //- ul
            //-     - bills.forEach(function(bill){
            //-         li
            //-             a(href="/bills/#{bill.serial}")
            //-                 = bill.serial
            //-     - })

        - else
            p You are not linked with your Facebook account yet. 
                a(href="/auth/facebook") Log in via Facebook
    .span4
        p Name: #{everyauth.facebook.user.name}
        p FB ID: #{everyauth.facebook.user.id}
        p CashTracker ID: #{everyauth.user.id}
