- if (everyauth.loggedIn)
    .page-header
        h1 User Account 
            small #{everyauth.facebook.user.name} FB ID: #{everyauth.facebook.user.id} CT ID: #{everyauth.user.id}
    .row
        .span12
            !=partial('messages')

            h2 Your sightings

            table
                thead
                    tr
                        th Serial
                        th Location
                        th Comment
                tbody
                    - sightings.forEach(function(sighting){
                        tr
                            td
                                a(href="/sightings/#{sighting._id}")
                                    = sighting.serial
                            td
                                = sighting.location
                            td
                                = sighting.comment

                    - })

            a(href="/sightings/add")
                button(class="btn primary", type="submit", value="Update") Add New Sighting

            //- 
            //- Bills section disabled. Not very useful, sightings is all user cares about
            //- 
            //- h1 Your related bills

            //- ul
            //-     - bills.forEach(function(bill){
            //-         li
            //-             a(href="/bills/#{bill.serial}")
            //-                 = bill.serial
            //-     - })

- else
    p You are not linked with your Facebook account yet. 
        a(href="/auth/facebook") Log in via Facebook