.page-header
  h1 Edit Sighting 
    small oh noes, uncle joe never lies!
.row
  .span7
    !=partial('messages')
    
    form(method="post", action="/sightings/!=sighting.id")
      input(type="hidden", name="_method", value="put")

      //- To preserve existing id (know when to update or when to add)
      input(type="hidden", name="sighting[_id]", value="#{sighting._id}")

      p Serial:
        input(type="text", name="sighting[serial]", value="#{sighting.serial}")
      p Currency:
        input(type="text", name="sighting[currency]", value="#{bill.currency}", disabled="true")
      p Denomination:
        input(type="text", name="sighting[denomination]", value="#{bill.denomination}")
      p Latitude: 
        input(type="text", id="latitudeInput", name="sighting[latitude]", value="#{sighting.latitude}")
      p Longitude:
        input(type="text", id="longitudeInput", name="sighting[longitude]", value="#{sighting.longitude}")
      p Comment (Optional):
        input(type="text", name="sighting[comment]", value="#{sighting.comment}")
      p
        button(class="btn primary", type="submit", value="Update") Update
  .span3
      h3 Secondary content